<?xml version="1.0" encoding="utf-8"?>
<widget
    id="org.ssfcu.dashboards"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Dashboards</name>
    <author>SSFCU</author>
    <description>Social media.</description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="geo:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="tel:*" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="FadeSplashScreenDuration" value="250" />
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashScreenSpinnerColor" value="#3880FF" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <activity android:theme="@style/AppTheme" />
        </edit-config>
        <resource-file src="resources/android/values/colors.xml" target="app/src/main/res/values/colors.xml" />
        <resource-file src="resources/android/values/themes.xml" target="app/src/main/res/values/themes.xml" />
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
